.list {
    padding: 0 20px 20px;
    margin-top: 20px;
}

.list__item {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
}

.list__item--hidden {
    display: none;
}

.list__taskContent--done {
    text-decoration: line-through;
}

.list__button {
    height: 30px;
    width: 30px;
    background-color: hsl(120, 88%, 27%);
    color: white;
    justify-self: center;
    border: none;
    transition: 0.4s;
}

.list__button:hover {
    background-color: hsl(120, 88%, 32%);
    cursor: pointer;
}

.list__button:active {
    background-color: hsl(120, 88%, 37%);
}

.list__button--remove {
    background-color: hsl(0, 93%, 58%);
}

.list__button--remove:hover {
    background-color: hsl(0, 93%, 63%);
}

.list__button--remove:active {
    background-color: hsl(0, 93%, 68%);
}