.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

@media (max-width:768px) {
    .buttonsContainer {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.buttonsContainer__button {
    border: none;
    background-color: inherit;
    color: hsl(180, 100%, 25%);
    padding: 10px 0;
    margin: 0 0 0 20px;
    transition: color 0.4s
}

.buttonsContainer__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttonsContainer__button:disabled {
    color: #888;
}